*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #242e55;
    color: #adb8d8;
    overflow: hidden;
}

.top-section{
    background-color:#2c3967 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo 2', cursive;
}
.top-section h3{
    color: whitesmoke;
    font-family: 'Baloo 2', cursive;
    font-size: 22px;
}
.top-section span{
    font-size: 14px;
}
hr{
    margin-bottom: 12px;
    opacity: 20%;
}

.main-section{
   
    background-color: #141d2ba2;
    border: 2px solid rgba(255, 0, 170, 0.822);
    width: 90vw;
    height: 80vh;
    margin: auto;
    top: 12px;
    padding: 10px;
    display:grid;  
    grid-gap: 4px;
    border-radius: 9px;
}
.main-section div{
    background-color: #2222229c;
}
.main-section div{
    border: 2px solid greenyellow;
}
#download{
    width: 70px;
    height: 20px;
    color: white;
    background-color:lightgreen;
    outline: none;
    margin:8px 0px ;

}
.design{
    border-top: 2px solid #5350ff;
    border-right: 2px solid #7eff50;
    border-bottom: 2px solid #ff6550;
    font-family: 'Baloo 2', cursive;
    border-left: 2px solid #ff5084;
    float: left;
    width: 50px;
    height: 308px;
   position: relative;
   top:128px;
   left: 20px;
   display: flex;
   flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #222222c4 ;
    
    
    
}

.design img{
    margin: 2px 0px;
    cursor: pointer;
    display: block;
}
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
    width: 40px;
    margin-bottom: 3px;
    cursor: pointer;
    color: #a2a19d;
}
.download p:hover{
    color: #b4bfdf;
}

.effect{
    
    border-radius: 12px;
    transition: .1s;
}

.effect:hover{
    background-color: #3d3c3cc4;
}

.resizer input {
   width: 50px; 
   outline: none;
   margin: 3px 2px;
}
.resizer {
    margin: -88px 9px;
    color: #a2a19d;
    font-family: 'Baloo 2', cursive;
    width: 80px;
}
.resizer #width{
    margin:3px 0px;
}

#pre-view{

    width: 100vw;
    height: 100vh;
    background-color: white;
    position:absolute ;
    top:0px;
    transition: .5s;
    display: grid;
    grid-gap: 3px;
    top: 700px;
    padding: 3px;
    z-index: 9999999;
}

#save{
    width: 100px;
    height: 100px;
    background-color: #ef7552;
    color: white;
    padding: 0px 6px ;
    border-radius:3px;
    user-select: none;
    position: relative;
    top: 4px;
    left: 4px;
}
#save:hover{
    background-color: #f39362;
}

#pre-view div{

    border: 2px solid red !important ;
}

.pop-up{
    width: 500px;
    height: 400px;
    z-index: 1000;
    position:absolute;
    display: grid;
    top: -400px;
    left: 32%;
    background-color: #f6f6f6;
    border-radius: 10px;
    transition: .3s;
    color: white;
    grid-template-rows: 40px 1fr;
   font-family: 'Baloo 2', cursive;
   border: 2px solid white;
   overflow: hidden;
}




.working{
    position: relative;
    top: 0px;
}

.pop-up .top{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #564d7a;

}

.top span{
    margin: 0px 6px;
    cursor:pointer;
}



.top .red{
    background-color: #ff6868;
    width: 20px ;
    height: 20px;
    border-radius: 50%;
    
}
.top .green{
    width: 20px ;
    height: 20px;
    background-color: #15bb8a;
    border-radius: 50%;
    
}
.top .yellow{
    width: 20px ;
    height: 20px;
    background-color: #ffe411;
    border-radius: 50%;

}
